* {
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.flexed {
    display: flex;
}

.autoZone {
    margin: 0 auto;
}

.cleanLi {
    list-style: none;
}

.strong {
    font-weight: bold;
}

.glowing-border {
    text-shadow: 0 0 10px maroon; /* aqua for asmo. yellowgreen for ely. */
}
/* ~ */

li {
    background-color: rgba(189, 195, 199, 0.4);
    padding: 20px;
}

.navbar {
    background-color: black;
    height: 200px;
    align-items: center;
}

.navbar img {
    height: 150px;
}

.container {
    background-image: url(./static/sanctum.jpg);
    background-attachment: fixed;
}

.col-1, .col-2, .col-3 {
    margin-top: 50px;
    margin-bottom: 200px;
}

.col-2{
    text-align: center;
}

.col-2 ul {
    max-width: 500px;
    border-radius: 25px;
}

.col-2 li {
    font-size: 35px;
    border-radius: 25px;
    margin-bottom: 10px;
}

.wingsImg {
    height: 550px;
}

.main {
    justify-content: space-around;
    align-items: center;
}

.mapsLi {
    text-align: center;
    font-size: 30px;
    border-radius: 25px;
}

.secondary {
    align-items: center;
    justify-content: space-around;
    margin-right: 20px;
    padding-bottom: 20px;
}

#raceImg {
    height: 500px;
}



